# Pandas introduction

In [1]:
import numpy as np
import pandas as pd

## Basics

In [10]:
a = ['alfio', 'ferrara', 28]
b = {'nome': 'alfio', 'eta': 28, 'cognome': 'ferrara'}
person = pd.Series(b)

In [13]:
person[2]

'ferrara'

In [20]:
c = {'a': 24, 'b': 28, 'c': 42}
values, idx = [0, 1, 2, 3, 4], ['_0', 'c1', 'a2', 's3', 'a4']
values2, idx2 = [4, 5, 1, 6, 4], ['_0', 'c1', 'a2', 's3', 'a5']

In [21]:
s = pd.Series(data=values, index=idx)
s2 = pd.Series(data=values2, index=idx2)

In [22]:
pd.DataFrame([s, s2]).T

      0    1
_0  0.0  4.0
c1  1.0  5.0
a2  2.0  1.0
s3  3.0  6.0
a4  4.0  NaN
a5  NaN  4.0

In [17]:
s2

_0    4
c1    5
a2    1
s3    6
a4    4
dtype: int64

In [23]:
D = {
    's1': {'a': 3, 'b': 4, 'c': 1},
    's2': {'a': 2, 'c': 1, 'd': 6}
}

X = [
    {'a': 6, 'c': 't'},
    {'a': 8, 'd': 2}
]

In [25]:
pd.DataFrame(X)

   a    c    d
0  6    t  NaN
1  8  NaN  2.0

In [34]:
k = 'abcdef'
df = pd.DataFrame(np.zeros((12, 6)), 
                  index=list(range(0, 12*4, 4)),
                  columns=[x for x in k]
                 )

In [35]:
df

      a    b    c    d    e    f
0   0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  0.0
16  0.0  0.0  0.0  0.0  0.0  0.0
20  0.0  0.0  0.0  0.0  0.0  0.0
24  0.0  0.0  0.0  0.0  0.0  0.0
28  0.0  0.0  0.0  0.0  0.0  0.0
32  0.0  0.0  0.0  0.0  0.0  0.0
36  0.0  0.0  0.0  0.0  0.0  0.0
40  0.0  0.0  0.0  0.0  0.0  0.0
44  0.0  0.0  0.0  0.0  0.0  0.0

In [36]:
df['y'] = range(12)

In [37]:
df

      a    b    c    d    e    f   y
0   0.0  0.0  0.0  0.0  0.0  0.0   0
4   0.0  0.0  0.0  0.0  0.0  0.0   1
8   0.0  0.0  0.0  0.0  0.0  0.0   2
12  0.0  0.0  0.0  0.0  0.0  0.0   3
16  0.0  0.0  0.0  0.0  0.0  0.0   4
20  0.0  0.0  0.0  0.0  0.0  0.0   5
24  0.0  0.0  0.0  0.0  0.0  0.0   6
28  0.0  0.0  0.0  0.0  0.0  0.0   7
32  0.0  0.0  0.0  0.0  0.0  0.0   8
36  0.0  0.0  0.0  0.0  0.0  0.0   9
40  0.0  0.0  0.0  0.0  0.0  0.0  10
44  0.0  0.0  0.0  0.0  0.0  0.0  11

In [38]:
df.index

Int64Index([0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44], dtype='int64')

In [47]:
df.loc[8:20, ['b','e']]

      b    e
8   0.0  0.0
12  0.0  0.0
16  0.0  0.0
20  0.0  0.0

In [49]:
df.iloc[:3][df.columns[2:]]

     c    d    e    f  y
0  0.0  0.0  0.0  0.0  0
4  0.0  0.0  0.0  0.0  1
8  0.0  0.0  0.0  0.0  2

## Data operations

In [109]:
df = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), index=range(0, 20, 2), columns=['A', 'B', 'C', 'D'])

In [110]:
df

     A   B   C   D
0   25  83  17  11
2   82  83  75  72
4    8  94  50   7
6   11  70  32  27
8   73  97  14  36
10  81  39  24  56
12  67  15  15  65
14  77  97  69  69
16  89   5  17  51
18  93  99  27  14

In [111]:
df.T.describe()

,0,2,4,6,8,10,12,14,16,18
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,34.000000,78.000000,39.750000,35.000000,55.000000,50.000000,40.500000,78.000000,40.500000,58.250000
std,33.166248,5.354126,41.347108,24.993332,37.103459,24.454039,29.456182,13.216152,37.749172,43.980109
min,11.000000,72.000000,7.000000,11.000000,14.000000,24.000000,15.000000,69.000000,5.000000,14.000000
25%,15.500000,74.250000,7.750000,23.000000,30.500000,35.250000,15.000000,69.000000,14.000000,23.750000
50%,21.000000,78.500000,29.000000,29.500000,54.500000,47.500000,40.000000,73.000000,34.000000,60.000000
75%,39.500000,82.250000,61.000000,41.500000,79.000000,62.250000,65.500000,82.000000,60.500000,94.500000
max,83.000000,83.000000,94.000000,70.000000,97.000000,81.000000,67.000000,97.000000,89.000000,99.000000

In [112]:
df.T

   0   2   4   6   8   10  12  14  16  18
A  25  82   8  11  73  81  67  77  89  93
B  83  83  94  70  97  39  15  97   5  99
C  17  75  50  32  14  24  15  69  17  27
D  11  72   7  27  36  56  65  69  51  14

In [113]:
df.sort_index(axis=0, ascending=False)

     A   B   C   D
18  93  99  27  14
16  89   5  17  51
14  77  97  69  69
12  67  15  15  65
10  81  39  24  56
8   73  97  14  36
6   11  70  32  27
4    8  94  50   7
2   82  83  75  72
0   25  83  17  11

In [114]:
df.sort_values(by=['A', 'B'], ascending=False, inplace=True)

In [115]:
df

     A   B   C   D
18  93  99  27  14
16  89   5  17  51
2   82  83  75  72
10  81  39  24  56
14  77  97  69  69
8   73  97  14  36
12  67  15  15  65
0   25  83  17  11
6   11  70  32  27
4    8  94  50   7

## Selecting and projecting

In [116]:
df[['A', 'C']]

     A   C
18  93  27
16  89  17
2   82  75
10  81  24
14  77  69
8   73  14
12  67  15
0   25  17
6   11  32
4    8  50

In [117]:
df[2:4]

     A   B   C   D
2   82  83  75  72
10  81  39  24  56

In [118]:
df.loc[2:6]

     A   B   C   D
2   82  83  75  72
10  81  39  24  56
14  77  97  69  69
8   73  97  14  36
12  67  15  15  65
0   25  83  17  11
6   11  70  32  27

In [119]:
df.loc[2:6, ['A', 'C']]

     A   C
2   82  75
10  81  24
14  77  69
8   73  14
12  67  15
0   25  17
6   11  32

In [120]:
df.iloc[2:6, 1:3]

     B   C
2   83  75
10  39  24
14  97  69
8   97  14

In [121]:
df[df['B'] > 50]

     A   B   C   D
18  93  99  27  14
2   82  83  75  72
14  77  97  69  69
8   73  97  14  36
0   25  83  17  11
6   11  70  32  27
4    8  94  50   7

In [122]:
df['A'] > 10

18     True
16     True
2      True
10     True
14     True
8      True
12     True
0      True
6      True
4     False
Name: A, dtype: bool

In [123]:
df[df['A'] > 10]

     A   B   C   D
18  93  99  27  14
16  89   5  17  51
2   82  83  75  72
10  81  39  24  56
14  77  97  69  69
8   73  97  14  36
12  67  15  15  65
0   25  83  17  11
6   11  70  32  27

In [124]:
df[(df['A'] > 10) & (df['B'] < 20)]

     A   B   C   D
16  89   5  17  51
12  67  15  15  65

## Set new data

In [125]:
df['date'] = pd.date_range("20200101", periods=10)
df['Z'] = [4]*5 + [None] + [2]*4

In [126]:
df

     A   B   C   D       date    Z
18  93  99  27  14 2020-01-01  4.0
16  89   5  17  51 2020-01-02  4.0
2   82  83  75  72 2020-01-03  4.0
10  81  39  24  56 2020-01-04  4.0
14  77  97  69  69 2020-01-05  4.0
8   73  97  14  36 2020-01-06  NaN
12  67  15  15  65 2020-01-07  2.0
0   25  83  17  11 2020-01-08  2.0
6   11  70  32  27 2020-01-09  2.0
4    8  94  50   7 2020-01-10  2.0

In [127]:
df.dtypes

A                int64
B                int64
C                int64
D                int64
date    datetime64[ns]
Z              float64
dtype: object

In [128]:
type(df.loc[16]['Z'])

numpy.float64

## Null values

In [129]:
pd.isna(df)

        A      B      C      D   date      Z
18  False  False  False  False  False  False
16  False  False  False  False  False  False
2   False  False  False  False  False  False
10  False  False  False  False  False  False
14  False  False  False  False  False  False
8   False  False  False  False  False   True
12  False  False  False  False  False  False
0   False  False  False  False  False  False
6   False  False  False  False  False  False
4   False  False  False  False  False  False

In [130]:
df.fillna(value=12)

     A   B   C   D       date     Z
18  93  99  27  14 2020-01-01   4.0
16  89   5  17  51 2020-01-02   4.0
2   82  83  75  72 2020-01-03   4.0
10  81  39  24  56 2020-01-04   4.0
14  77  97  69  69 2020-01-05   4.0
8   73  97  14  36 2020-01-06  12.0
12  67  15  15  65 2020-01-07   2.0
0   25  83  17  11 2020-01-08   2.0
6   11  70  32  27 2020-01-09   2.0
4    8  94  50   7 2020-01-10   2.0

In [131]:
df.dropna(how='any')

     A   B   C   D       date    Z
18  93  99  27  14 2020-01-01  4.0
16  89   5  17  51 2020-01-02  4.0
2   82  83  75  72 2020-01-03  4.0
10  81  39  24  56 2020-01-04  4.0
14  77  97  69  69 2020-01-05  4.0
12  67  15  15  65 2020-01-07  2.0
0   25  83  17  11 2020-01-08  2.0
6   11  70  32  27 2020-01-09  2.0
4    8  94  50   7 2020-01-10  2.0

## Operations and broadcasting

In [132]:
df.apply(np.cumsum)

      A    B    C    D                          date     Z
18   93   99   27   14 2020-01-01 00:00:00.000000000   4.0
16  182  104   44   65 2070-01-01 00:00:00.000000000   8.0
2   264  187  119  137 2120-01-04 00:00:00.000000000  12.0
10  345  226  143  193 2170-01-06 00:00:00.000000000  16.0
14  422  323  212  262 2220-01-11 00:00:00.000000000  20.0
8   495  420  226  298 1685-06-26 00:25:26.290448384   NaN
12  562  435  241  363 1735-07-03 00:25:26.290448384  22.0
0   587  518  258  374 1785-07-09 00:25:26.290448384  24.0
6   598  588  290  401 1835-07-18 00:25:26.290448384  26.0
4   606  682  340  408 1885-07-26 00:25:26.290448384  28.0

In [146]:
df['A'].values

array([93, 89, 82, 81, 77, 73, 67, 25, 11,  8])

In [133]:
df.Z.value_counts()

4.0    5
2.0    4
Name: Z, dtype: int64

## Group and pivot

In [136]:
df.groupby('Z').std()

             A          B          C          D
Z
2.0  27.195281  35.066603  16.217275  26.451213
4.0   6.465292  41.167949  27.345932  23.179733

In [152]:
pd.pivot_table(df, values="D", index=["A", "B", "Z"], columns=["date"])

,,date,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-07,2020-01-08,2020-01-09,2020-01-10
A,B,Z,,,,,,,,,
8,94,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
11,70,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN
25,83,2.0,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN
67,15,2.0,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN
77,97,4.0,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
81,39,4.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN
82,83,4.0,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN
89,5,4.0,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,99,4.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Get data from files

In [153]:
f = 'data/us_elections.csv'

In [154]:
df = pd.read_csv(f)

In [159]:
df.head()

,State,Source,Official/Unofficial,Total Ballots Counted (Estimate),Vote for Highest Office (President),VEP Turnout Rate,Voting-Eligible Population (VEP),Voting-Age Population (VAP),% Non-citizen,Prison,Probation,Parole,Total Ineligible Felon,Overseas Eligible,State Abv
0,United States,NaN,NaN,"158,835,004",NaN,66.4%,"239,247,182","257,605,088",7.8%,"1,461,074","1,962,811","616,440","3,294,457","4,971,025",NaN
1,Alabama,https://www2.alabamavotes.gov/electionnight/st...,Unofficial,"2,306,587","2,297,295",62.6%,"3,683,055","3,837,540",2.3%,"25,898","50,997","10,266","67,782",NaN,AL
2,Alaska,https://www.elections.alaska.gov/results/20GEN...,NaN,"367,000",NaN,69.8%,"525,568","551,117",3.4%,"4,293","2,074","1,348","6,927",NaN,AK
3,Arizona,https://results.arizona.vote/#/featured/18/0,NaN,"3,400,000",NaN,65.5%,"5,189,000","5,798,473",8.9%,"38,520","76,844","7,536","93,699",NaN,AZ
4,Arkansas,https://results.enr.clarityelections.com/AR/10...,Unofficial,"1,212,030","1,206,697",55.5%,"2,182,375","2,331,171",3.6%,"17,510","36,719","24,698","64,974",NaN,AR

In [160]:
df.dtypes

State                                  object
Source                                 object
Official/Unofficial                    object
Total Ballots Counted (Estimate)       object
Vote for Highest Office (President)    object
VEP Turnout Rate                       object
Voting-Eligible Population (VEP)       object
Voting-Age Population (VAP)            object
% Non-citizen                          object
Prison                                 object
Probation                              object
Parole                                 object
Total Ineligible Felon                 object
Overseas Eligible                      object
State Abv                              object
dtype: object

In [166]:
def thousands(x):
    if pd.isnull(x):
        return x
    else:
        try:
            return float(x.replace(',', ''))
        except ValueError:
            return np.nan
        
def perc(x):
    if pd.isnull(x):
        return x
    else:
        try:
            return float(x.replace('%', '')) / 100
        except ValueError:
            return np.nan

In [167]:
conversion_map = {
    3: thousands, 6: thousands, 7: thousands, 9: thousands, 10: thousands, 11: thousands,
    12: thousands, 13: thousands, 5: perc
}

In [168]:
df2 = pd.read_csv(f, converters=conversion_map)

In [169]:
df2.head()

,State,Source,Official/Unofficial,Total Ballots Counted (Estimate),Vote for Highest Office (President),VEP Turnout Rate,Voting-Eligible Population (VEP),Voting-Age Population (VAP),% Non-citizen,Prison,Probation,Parole,Total Ineligible Felon,Overseas Eligible,State Abv
0,United States,NaN,NaN,158835004.0,NaN,0.664,239247182.0,257605088.0,7.8%,1461074.0,1962811.0,616440.0,3294457.0,4971025.0,NaN
1,Alabama,https://www2.alabamavotes.gov/electionnight/st...,Unofficial,2306587.0,"2,297,295",0.626,3683055.0,3837540.0,2.3%,25898.0,50997.0,10266.0,67782.0,NaN,AL
2,Alaska,https://www.elections.alaska.gov/results/20GEN...,NaN,367000.0,NaN,0.698,525568.0,551117.0,3.4%,4293.0,2074.0,1348.0,6927.0,NaN,AK
3,Arizona,https://results.arizona.vote/#/featured/18/0,NaN,3400000.0,NaN,0.655,5189000.0,5798473.0,8.9%,38520.0,76844.0,7536.0,93699.0,NaN,AZ
4,Arkansas,https://results.enr.clarityelections.com/AR/10...,Unofficial,1212030.0,"1,206,697",0.555,2182375.0,2331171.0,3.6%,17510.0,36719.0,24698.0,64974.0,NaN,AR

In [170]:
df2.dtypes

State                                   object
Source                                  object
Official/Unofficial                     object
Total Ballots Counted (Estimate)       float64
Vote for Highest Office (President)     object
VEP Turnout Rate                       float64
Voting-Eligible Population (VEP)       float64
Voting-Age Population (VAP)            float64
% Non-citizen                           object
Prison                                 float64
Probation                              float64
Parole                                 float64
Total Ineligible Felon                 float64
Overseas Eligible                      float64
State Abv                               object
dtype: object

In [171]:
import datetime

In [172]:
dst = "Tue, Dec 1, 2020"
dst2 = "Mon, Nov 30, 2019"

d = datetime.datetime.strptime(dst, "%a, %b %d, %Y")
d2 = datetime.datetime.strptime(dst2, "%a, %b %d, %Y")

In [175]:
print(type(d))

<class 'datetime.datetime'>

In [173]:
d - d2

datetime.timedelta(days=367)

In [177]:
df2.to_excel('./data/us_elections.xlsx', index=False)

In [178]:
df3 = pd.read_excel('./data/us_elections.xlsx')

In [179]:
df3.dtypes

State                                   object
Source                                  object
Official/Unofficial                     object
Total Ballots Counted (Estimate)         int64
Vote for Highest Office (President)     object
VEP Turnout Rate                       float64
Voting-Eligible Population (VEP)         int64
Voting-Age Population (VAP)              int64
% Non-citizen                           object
Prison                                   int64
Probation                                int64
Parole                                   int64
Total Ineligible Felon                   int64
Overseas Eligible                      float64
State Abv                               object
dtype: object

## Json data

In [182]:
import json

In [183]:
fp = '/Users/flint/Data/agrotech/increment_sample.json'

In [184]:
with open(fp, 'r') as infile:
    j = json.load(infile)

In [185]:
j

[{'sentence_id': 0,
  'sentence': 'NaOH addition to raise soil pH generally increased the soluble soil organic carbon (SSOC) concentration in solution compared to field soils at the same pH and to soil treated with Ca(OH)2.',
  'triples': [{'agent': {'id': '5-addition-3',
     'text': 'NaOH addition to raise soil pH',
     'context': []},
    'verb': {'id': '41-increased-0',
     'text': 'generally increased',
     'context': [{'dep': 'prep',
       'text': 'compared to field soils at the same pH and to soil treated with Ca(OH)2'}],
     'neg': False},
    'target': {'id': '90-concentration-1',
     'text': 'the soluble soil organic carbon SSOC concentration in solution',
     'context': []}}]},
 {'sentence_id': 1,
  'sentence': 'Only in one case did stubble-mulch tillage unquestionably result in an increase (38%) in organic C content of the top layer, when compared with conventional tillage.',
  'triples': [{'agent': {'id': '35-tillage-4',
     'text': 'stubble mulch tillage',
     'context': []},
    'verb': {'id': '58-result-5',
     'text': 'unquestionably result',
     'context': [{'dep': 'prep',
       'text': 'in an increase 38 % in organic C content of the top layer'}],
     'neg': False}}]},
 {'sentence_id': 2,
  'sentence': 'Acidifying soils increased the soil solution ionic strength, when compared to field soils at the same pH and had no effect on SSOC concentration.',
  'triples': [{'agent': {'id': '11-soils-4',
     'text': 'Acidifying soils',
     'context': []},
    'verb': {'id': '17-increased-1',
     'text': 'increased',
     'context': [],
     'neg': False},
    'target': {'id': '51-strength-2',
     'text': 'the soil solution ionic strength',
     'context': []}}]},
 {'sentence_id': 3,
  'sentence': 'Atrazine adsorption increased with decreased pH in all soils, and was overestimated slightly by several laboratory treatments to reduce pH compared to adsorption by field soils.',
  'triples': [{'agent': {'id': '9-adsorption-5',
     'text': 'Atrazine adsorption',
     'context': []},
    'verb': {'id': '20-increased-4',
     'text': 'increased',
     'context': [{'dep': 'prep', 'text': 'with decreased pH in all soils'}],
     'neg': False}},
   {'agent': {'id': '9-adsorption-5',
     'text': 'Atrazine adsorption',
     'context': []},
    'verb': {'id': '70-overestimated-0',
     'text': 'was overestimated slightly',
     'context': [{'dep': 'agent',
       'text': 'by several laboratory treatments adsorption by field soils'}],
     'neg': False}}]},
 {'sentence_id': 4,
  'sentence': 'It also promotes buffering capacity of soil and increases the percentage of organic matter and cation exchange capacity.',
  'triples': [{'agent': {'id': '0-It-1', 'text': 'It also', 'context': []},
    'verb': {'id': '8-promotes-1',
     'text': 'also promotes',
     'context': [],
     'neg': False},
    'target': {'id': '27-capacity-2',
     'text': 'buffering capacity of soil',
     'context': []}},
   {'agent': {'id': '0-It-1', 'text': 'It also promotes and', 'context': []},
    'verb': {'id': '48-increases-1',
     'text': 'increases',
     'context': [],
     'neg': False},
    'target': {'id': '62-percentage-3',
     'text': 'the percentage of organic matter and cation exchange capacity',
     'context': []}}]},
 {'sentence_id': 5,
  'sentence': 'Occasionally, negative aspects can emerge from compost incorporation, such as an increase in organic pollutants and electrical conductivity of soils.',
  'triples': [{'agent': {'id': '23-aspects-4',
     'text': 'negative aspects',
     'context': []},
    'verb': {'id': '35-emerge-2',
     'text': 'can emerge',
     'context': [{'dep': 'prep',
       'text': 'from compost incorporation such as an increase in organic pollutants and electrical conductivity of soils'}],
     'neg': False}}]},
 {'sentence_id': 6,
  'sentence': 'By amending the soil with 12t FYM ha-1, the yield of wetland rice in the absence of fertilizers was increased by 32 per cent.',
  'triples': []},
 {'sentence_id': 7,
  'sentence': 'Application of 80 kg N ha-1 as urea could increase the grain yield of rice equivalent to 120 kg N ha-1 on the unamended soil.',
  'triples': [{'agent': {'id': '0-Application-2',
     'text': 'Application of 80 kg N ha-1 as urea',
     'context': []},
    'verb': {'id': '42-increase-1',
     'text': 'could increase',
     'context': [{'dep': 'prep', 'text': 'on the unamended soil'}],
     'neg': False},
    'target': {'id': '61-yield-0',
     'text': 'the grain yield of rice equivalent to 120 kg',
     'context': []}}]},
 {'sentence_id': 8,
  'sentence': 'At both sites 18 yr of annual straw incorporation increased total soil organic C by only 5% and total N by about 10% but produced large increases in microbial biomass measured by the CHCl3-fumigation method.',
  'triples': [{'agent': {'id': '17-yr-3',
     'text': '18 yr of annual straw incorporation',
     'context': []},
    'verb': {'id': '50-increased-2',
     'text': 'increased',
     'context': [{'dep': 'prep',
       'text': 'At both sites by only 5 % and total N by about 10 % but produced'},
      {'dep': 'prep', 'text': 'by only 5 % and total N'},
      {'dep': 'prep', 'text': 'by about 10 %'}],
     'neg': False},
    'target': {'id': '79-C-5', 'text': 'total soil organic C', 'context': []}},
   {'agent': {'id': '17-yr-3',
     'text': '18 yr of annual straw incorporation',
     'context': []},
    'verb': {'id': '121-produced-2',
     'text': 'produced',
     'context': [],
     'neg': False},
    'target': {'id': '136-increases-1',
     'text': 'large increases in microbial biomass measured by the CHCl3 fumigation method',
     'context': []}}]},
 {'sentence_id': 9,
  'sentence': 'The increases in biomass C were 45 and 37% at Studsgaard and Rønhave, respectively: the corresponding increases in biomass N were 50 and 46%.',
  'triples': [{'agent': {'id': '4-increases-3',
     'text': 'The increases in biomass C',
     'context': []},
    'verb': {'id': '27-were-1', 'text': 'were', 'context': [], 'neg': False},
    'target': {'id': '32-45-1',
     'text': '45 and 37 respectively',
     'context': [{'dep': 'conj', 'text': 'were'}]}},
   {'agent': {'id': '102-increases-2',
     'text': 'the corresponding increases in biomass N',
     'context': []},
    'verb': {'id': '125-were-0', 'text': 'were', 'context': [], 'neg': False},
    'target': {'id': '130-50-0',
     'text': '50 and 46 %',
     'context': [{'dep': 'conj',
       'text': '% at Studsgaard and Rønhave were'}]}}]},
 {'sentence_id': 10,
  'sentence': 'Increases in biomass P due to straw incorporation appeared to be even greater.',
  'triples': [{'agent': {'id': '0-Increases-1',
     'text': 'Increases in biomass P due to straw incorporation',
     'context': []},
    'verb': {'id': '50-appeared-0',
     'text': 'appeared to',
     'context': [],
     'neg': False}},
   {'agent': {'id': '0-Increases-1',
     'text': 'Increases in biomass P due to straw incorporation',
     'context': []},
    'verb': {'id': '62-be-0',
     'text': 'to be even',
     'context': [],
     'neg': False},
    'target': {'id': '70-greater-0', 'text': 'even greater', 'context': []}}]},
 {'sentence_id': 11,
  'sentence': 'Mineralization of N was 40-50% greater where straw had been incorporated, indicating thaf the long-term incorporation of straw had increased the quantity of mineralizable N in soil.',
  'triples': [{'agent': {'id': '0-Mineralization-6',
     'text': 'Mineralization of N',
     'context': []},
    'verb': {'id': '20-was-5', 'text': 'was', 'context': [], 'neg': False},
    'target': {'id': '31-greater-5',
     'text': '40 - 50 % greater where straw had been incorporated',
     'context': []}},
   {'agent': {'id': '45-straw-2',
     'text': 'where straw had been',
     'context': []},
    'verb': {'id': '60-incorporated-2',
     'text': 'had been incorporated',
     'context': [],
     'neg': False}},
   {'agent': {'id': '104-incorporation-0',
     'text': 'the long term incorporation of straw',
     'context': []},
    'verb': {'id': '131-increased-4',
     'text': 'had increased',
     'context': [],
     'neg': False},
    'target': {'id': '145-quantity-1',
     'text': 'the quantity of mineralizable N in soil',
     'context': []}}]},
 {'sentence_id': 12,
  'sentence': 'During the wet season and in the other treatments performed during the dry season no significant increase in yields, yield components and N uptake were observed with BGA.',
  'triples': []},
 {'sentence_id': 13,
  'sentence': 'The analysis of soil from rice field after harvest showed that Azolla and BGA intercropping with rice in combination with chemical fertilizer significantly increased the organic carbon, available phosphorus and total nitrogen of soil.',
  'triples': [{'agent': {'id': '4-analysis-4',
     'text': 'The analysis of soil from rice field after harvest',
     'context': []},
    'verb': {'id': '51-showed-0',
     'text': 'showed',
     'context': [],
     'neg': False}},
   {'agent': {'id': '63-Azolla-6', 'text': 'Azolla and BGA', 'context': []},
    'verb': {'id': '78-intercropping-0',
     'text': 'intercropping',
     'context': [{'dep': 'prep',
       'text': 'of soil from rice field showed that with rice in combination with chemical fertilizer significantly increased available phosphorus and total nitrogen of soil'},
      {'dep': 'prep', 'text': 'in combination with chemical fertilizer'}],
     'neg': False}}]},
 {'sentence_id': 14,
  'sentence': 'Straw incorporation generally increased the C and N content of whole soils and size fractions.',
  'triples': [{'agent': {'id': '6-incorporation-4',
     'text': 'Straw incorporation',
     'context': []},
    'verb': {'id': '30-increased-3',
     'text': 'generally increased',
     'context': [],
     'neg': False},
    'target': {'id': '52-content-2',
     'text': 'the C and N content of whole soils and size fractions',
     'context': []}}]},
 {'sentence_id': 15,
  'sentence': 'Straw incorporation increased the decomposition rate of whole soil and sand organic matter.',
  'triples': [{'agent': {'id': '6-incorporation-3',
     'text': 'Straw incorporation',
     'context': []},
    'verb': {'id': '20-increased-4',
     'text': 'increased',
     'context': [],
     'neg': False},
    'target': {'id': '48-rate-1',
     'text': 'the decomposition rate of whole soil and sand organic matter',
     'context': []}}]},
 {'sentence_id': 16,
  'sentence': 'Although no significant (p &gt; 0.05) tillage effects were found for TC, the level was increased by ~16% under Nt in the surface soil (0 to 15-cm) layer at the low N (84 kg.ha −1) rate treatment.',
  'triples': [{'agent': {'id': '77-level-8',
     'text': 'the level',
     'context': []},
    'verb': {'id': '87-increased-0',
     'text': 'was increased',
     'context': [{'dep': 'prep',
       'text': 'no significant p & gt 0.05 tillage effects by % under Nt in the surface soil 0 to 15 cm layer at the low N 84 kg.ha −1 rate treatment'},
      {'dep': 'prep',
       'text': 'in the surface soil 0 to 15 cm layer at the low N 84 kg.ha −1 rate treatment'},
      {'dep': 'prep',
       'text': 'no significant p & gt 0.05 tillage effects by % under Nt in the surface soil 0 to 15 cm layer at the low N 84 kg.ha −1 rate treatment'}],
     'neg': False}}]},
 {'sentence_id': 17,
  'sentence': 'Total N (TN) was significantly (p &lt; 0.05) increased under NT compared to CT only in the soil surface layer at the high N rate treat.',
  'triples': [{'agent': {'id': '6-N-3', 'text': 'Total N TN', 'context': []},
    'verb': {'id': '13-was-5',
     'text': 'was significantly',
     'context': [],
     'neg': False},
    'target': {'id': '32-p-1', 'text': 'p & lt 0.05', 'context': []}},
   {'agent': {'id': '6-N-3', 'text': 'Total N TN', 'context': []},
    'verb': {'id': '45-increased-4',
     'text': 'increased',
     'context': [{'dep': 'prep',
       'text': 'under NT compared to CT only in the soil surface layer at the high N rate treat'},
      {'dep': 'prep',
       'text': 'under NT compared to CT only in the soil surface layer at the high N rate treat'}],
     'neg': False}}]},
 {'sentence_id': 18,
  'sentence': 'The unmanured plot and plots given equivalent amounts of N (1923-1984 annual average, 121 kg N/ha) in either animal manure or mineral fertilizer were sampled to a depth of 15 cm, fractionated and analysed for C and N. Mineral fertilizer and animal manure increased the C and N content of whole soil, clay (<2 μm) and silt (2-20 μm) size fractions relative to unmanured samples, while the C content of the sand size fractions (fine sand 1, 20-63 μm; fine sand 2, 63-200 μm; coarse sand, 200-2000 μm) was less affected.',
  'triples': [{'agent': {'id': '14-plot-12',
     'text': 'The unmanured plot and plots',
     'context': []},
    'verb': {'id': '29-given-0',
     'text': 'given',
     'context': [{'dep': 'prep',
       'text': 'in either animal manure or mineral fertilizer increased while fine sand 1 20 - 63 μm fine sand 2 63 - 200 μm coarse sand 200 - 2000 μm was less affected'}],
     'neg': False},
    'target': {'id': '46-amounts-2',
     'text': 'equivalent amounts of N 1923 - 1984 annual average 121 kg N / ha',
     'context': []}},
   {'agent': {'id': '14-plot-12',
     'text': 'The unmanured plot and plots',
     'context': []},
    'verb': {'id': '150-sampled-5',
     'text': 'were sampled',
     'context': [{'dep': 'prep',
       'text': 'to a depth of 15 cm fractionated and analysed for C and N. Mineral fertilizer and animal manure'}],
     'neg': False}},
   {'agent': {'id': '14-plot-12',
     'text': 'The unmanured plot and plots',
     'context': []},
    'verb': {'id': '255-increased-0',
     'text': 'increased',
     'context': [],
     'neg': False},
    'target': {'id': '277-content-6',
     'text': 'the C and N content of whole soil',
     'context': []}},
   {'agent': {'id': '390-content-4',
     'text': 'the C content of the sand size fractions fine sand 1 20 - 63 μm fine sand 2 63 - 200 μm coarse sand 200 - 2000 μm',
     'context': []},
    'verb': {'id': '499-was-0', 'text': 'was', 'context': [], 'neg': False},
    'target': {'id': '508-affected-0',
     'text': 'less affected',
     'context': []}}]},
 {'sentence_id': 19,
  'sentence': 'Increasing the nitrogen rate to 40% above that recommended gave an economically worthwhile 0.6 t ha-1 increase in grain yield.',
  'triples': [{'agent': {'id': '42-that-0',
     'text': 'Increasing to 40 % above that',
     'context': []},
    'verb': {'id': '47-recommended-0',
     'text': 'recommended',
     'context': [],
     'neg': False}},
   {'agent': {'id': '42-that-0',
     'text': 'Increasing to 40 % above that recommended',
     'context': []},
    'verb': {'id': '59-gave-0', 'text': 'gave', 'context': [], 'neg': False},
    'target': {'id': '102-increase-1',
     'text': 'an economically worthwhile 0.6 t ha-1 increase in grain yield',
     'context': []}}]},
 {'sentence_id': 20,
  'sentence': 'Animal manure caused similar relative increases in the organic matter content of clay and silt size fractions (36%).',
  'triples': [{'agent': {'id': '7-manure-4',
     'text': 'Animal manure',
     'context': []},
    'verb': {'id': '14-caused-5',
     'text': 'caused',
     'context': [],
     'neg': False},
    'target': {'id': '38-increases-2',
     'text': 'similar relative increases in the organic matter content of clay and silt size fractions 36 %',
     'context': []}}]},
 {'sentence_id': 21,
  'sentence': 'In contrast, mineral fertilizer only increased the organic matter content of silt by 21% and that of clay by 14%.',
  'triples': [{'agent': {'id': '21-fertilizer-5',
     'text': 'mineral fertilizer',
     'context': []},
    'verb': {'id': '37-increased-0',
     'text': 'only increased',
     'context': [{'dep': 'prep',
       'text': 'In contrast by 21 % and that of clay by 14 %'},
      {'dep': 'prep', 'text': 'by 21 %'},
      {'dep': 'prep', 'text': 'by 14 %'}],
     'neg': False},
    'target': {'id': '66-content-1',
     'text': 'the organic matter content of silt',
     'context': []}}]},
 {'sentence_id': 22,
  'sentence': 'Incubation at 20°C inhibited methane formation remarkably, resulting in an increase in the accumulation of volatile fatty acids and alcohols.',
  'triples': []},
 {'sentence_id': 23,
  'sentence': 'Incubation at 35°C promoted the formation of carbon dioxide and methane remarkably, accelerated the formation and decomposition of intermediate products, and increased the amount of accumulated acetic acid in non-amended soils and that of acetaldehyde in amended soils.',
  'triples': [{'agent': {'id': '0-Incubation-5',
     'text': 'Incubation at 35 ° C',
     'context': []},
    'verb': {'id': '19-promoted-4',
     'text': 'promoted remarkably',
     'context': [],
     'neg': False},
    'target': {'id': '32-formation-1',
     'text': 'the formation of carbon dioxide and methane',
     'context': []}},
   {'agent': {'id': '0-Incubation-5',
     'text': 'Incubation at 35 ° C',
     'context': []},
    'verb': {'id': '84-accelerated-4',
     'text': 'remarkably accelerated',
     'context': [],
     'neg': False},
    'target': {'id': '100-formation-2',
     'text': 'the formation and decomposition of intermediate products',
     'context': []}}]},
 {'sentence_id': 24,
  'sentence': 'The results showed that reduced soil tillage (one disking with a disk harrow) for three years significantly increased the final organic matter content from 0.27 to 0.35%, decreased the moisture retention at -0.01 MPa from 11.0 to 10.6%, soil bulk density from 1.58 to 1.52 g cm-1, soil strength from 9.9 to 5.9 kg cm-2 and steady state infiltration rate from 15.6 cm h-1 to 10.8 cm h-1.',
  'triples': [{'agent': {'id': '4-results-10',
     'text': 'The results',
     'context': []},
    'verb': {'id': '12-showed-1',
     'text': 'showed',
     'context': [],
     'neg': False}},
   {'agent': {'id': '37-tillage-5',
     'text': 'reduced soil tillage one disking with a disk harrow for three years',
     'context': []},
    'verb': {'id': '108-increased-1',
     'text': 'significantly increased',
     'context': [{'dep': 'prep',
       'text': 'showed that from 0.27 to 0.35 % soil bulk density from 1.58 to 1.52 g cm-1 soil strength from 9.9 to 5.9 kg cm-2 and steady state infiltration rate from 15.6 cm h-1 to 10.8 cm h-1'}],
     'neg': False},
    'target': {'id': '143-content-6',
     'text': 'the final organic matter content',
     'context': []}}]},
 {'sentence_id': 25,
  'sentence': 'Under all the tillage conditions, mulching the inter row spaces with native weeds (6 t ha-1) increased the organic matter content by 10 to 25%, infiltration rate by 10 to 20%, moisture retention (- 0.01 MPa) by 6.0 to 20.0%, and decreased the bulk density by 0.05 to 0.07 g cm-3, soil strength by 1.25 to 3.20 kg cm-2 and maximum temperature at 10 cm depth (during growth period) by 0.5 to 10°C.',
  'triples': []},
 {'sentence_id': 26,
  'sentence': 'Tillage increased the grain yield (mean of 1983 and 1984) from 8.2 q ha-1 to 12.3 q ha-1.',
  'triples': [{'agent': {'id': '0-Tillage-0',
     'text': 'Tillage',
     'context': []},
    'verb': {'id': '8-increased-0',
     'text': 'increased',
     'context': [{'dep': 'prep',
       'text': 'of 1983 and 1984 from 8.2 q ha-1 to 12.3 q ha-1'}],
     'neg': False},
    'target': {'id': '28-yield-2',
     'text': 'the grain yield',
     'context': []}}]},
 {'sentence_id': 27,
  'sentence': 'Mulching significantly increased the grain yield from 50 to 150% with no tillage, 25 to 45% with reduced tillage and 25 to 40% with excessive tillage with lower water use and higher water use efficiency.',
  'triples': [{'agent': {'id': '0-Mulching-4',
     'text': 'Mulching significantly',
     'context': []},
    'verb': {'id': '23-increased-4',
     'text': 'significantly increased',
     'context': [{'dep': 'prep',