# Overview of lists, dictionaries and functions
[https://docs.python.org/3/tutorial/datastructures.html](https://docs.python.org/3/tutorial/datastructures.html)

## Lists

In [38]:
a = ['a', 3, 3.5, [9, 8]]

In [41]:
a[1] = 'b'

In [76]:
c = list('123456')

In [69]:
c

['1', '2', '3', '4', '5', '6']

In [61]:
idx = 0
while True:
    try:
        current_index = c.index('a', idx)
        print(current_index)
        idx = current_index + 1
    except ValueError:
        break

0
2
4
6

In [62]:
c.count('a')

4

In [81]:
power = [x*x for x in range(0,6)]

In [83]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [85]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11]]

In [90]:
c = list('questa')
for i, x in enumerate(c):
    print(i, x)

0 q
1 u
2 e
3 s
4 t
5 a

In [94]:
n = [4, 3, 2, 0, 1, 2, 3]

for i, x in enumerate(n):
    s = n[i:]
    print(x, i, '->', sum(s))

4 0 -> 15
3 1 -> 11
2 2 -> 8
0 3 -> 6
1 4 -> 6
2 5 -> 5
3 6 -> 3

## Tuples

In [96]:
t = tuple(n)

In [100]:
def calculate(a, b):
    s = a + b
    d = a - b
    p = a * b
    v = a / b
    return s, d, p, v

In [101]:
result = calculate(4, 6)

In [103]:
summa, sottrazione, prodotto, divisione = calculate(4, 6)

In [104]:
print(summa, sottrazione)

10 -2

### List comprehension VS Loop

In [156]:
import time

In [166]:
i = 10000000
loop = time.time()
l = []
for x in range(i):
    l.append(x)
print(time.time() - loop)

0.934333086013794

In [167]:
loop = time.time()
n = [x for x in range(i)]
print(time.time() - loop)

0.5185389518737793

In [168]:
loop = time.time()
s = 0
for x in range(i):
    s + 1
print(time.time() - loop)

0.6093430519104004

In [169]:
loop = time.time()
n = [x + 1 for x in range(i)]
print(time.time() - loop)

0.655785083770752

## Sets

In [105]:
A = {'a', 'b', 'c'}
B = {'b', 'c', 'd'}

In [111]:
S = set(['a', 'b', 'a', 'b' ,'a', 'b','a', 'b','a', 'b','a', 'b'])

In [113]:
A.intersection(B)

{'b', 'c'}

In [114]:
A.difference(B)

{'a', 'x'}

In [115]:
A.union(B)

{'a', 'b', 'c', 'd', 'x'}

## Dictionaries

In [118]:
C = {'nome': 'Gino', 'cognome': 'Bianchi'}
L = {'nome': 'Lucia', 'cognome': 'Rossi'}

In [131]:
for key, value in L.items():
    print(key, value)

nome Lucia
cognome Rossi
eta 23

In [132]:
text = """
Born on the island of Corsica not long after its annexation by the Kingdom of France, 
Napoleon's modest family descended from minor Italian nobility. He supported the French Revolution in 1789 while serving in the French army, and tried to spread its ideals to his native Corsica. He rose rapidly in the Army after he saved the governing French Directory by firing on royalist insurgents. In April 1796, he began his first military campaign against the Austrians and their Italian allies, scoring a series of decisive victories and becoming a national hero. Two years later, he led a military expedition to Egypt that served as a springboard to political power. He engineered a coup in November 1799 and became First Consul of the Republic. Intractable differences with the British meant that the French were facing the War of the Third Coalition by 1805. Napoleon shattered this coalition with decisive victories in the Ulm Campaign, and a historic triumph at the Battle of Austerlitz, which led to the dissolving of the Holy Roman Empire. In 1806, the Fourth Coalition took up arms against him because Prussia became worried about growing French influence on the continent. Napoleon quickly knocked out Prussia at the battles of Jena and Auerstedt, then marched the Grande Armée deep into Eastern Europe, annihilating the Russians in June 1807 at Friedland, and forcing the defeated nations of the Fourth Coalition to accept the Treaties of Tilsit. Two years later, the Austrians challenged the French again during the War of the Fifth Coalition, but Napoleon solidified his grip over Europe after triumphing at the Battle of Wagram.
"""

In [144]:
charindex = {}
for char in text.split():
    try:
        charindex[char] = charindex[char] + 1
    except KeyError:
        charindex[char] = 1

## Functions

In [146]:
def arg_function(*args):
    print(list(args))

def kwarg_function(**kwargs):
    print(dict(kwargs))

In [148]:
arg_function(2, 3, 4, 5, 4, 5, 2, 1)

[2, 3, 4, 5, 4, 5, 2, 1]

In [150]:
kwarg_function(a=2, b=3, c=4, d=5, g=9)

{'a': 2, 'b': 3, 'c': 4, 'd': 5, 'g': 9}

In [151]:
def fib(size, series=[], verbose=False):
    if verbose:
        print(size, series)
    if size == 0:
        return series
    if len(series) < 2:
        return fib(size - 1, series + [1], verbose=verbose)
    return fib(size - 1, series + [series[-1] + series[-2]], verbose=verbose)

In [155]:
s = fib(20, verbose=True)

20 []
19 [1]
18 [1, 1]
17 [1, 1, 2]
16 [1, 1, 2, 3]
15 [1, 1, 2, 3, 5]
14 [1, 1, 2, 3, 5, 8]
13 [1, 1, 2, 3, 5, 8, 13]
12 [1, 1, 2, 3, 5, 8, 13, 21]
11 [1, 1, 2, 3, 5, 8, 13, 21, 34]
10 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
8 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
7 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
6 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
5 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
4 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
3 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
2 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
1 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]
0 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [154]:
s

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]